body {
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  .form-group {
    margin-top: 20px;
    text-align: left;
  }
  
  label {
    display: block;
  }
  
  input {
    width: 300px;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
  }
  